.Auction {
    width : 60%;
    border-collapse: separate;
    position: relative;
    margin-right : 10px;
}

.Auction img{
    border-radius: 10px;
}

.Auction tr.item {
    height: 134px; 
    position: absolute;
    max-width : 100%;
    width :100%;
    color : white;
    background-color : black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.Auction .info{
    text-align: center;
    width : 100%
}

.Auction .price{
    display: inline-flex;
}
