.Auction {
    border : 2px solid red;
    width : 60%;
    border-collapse: separate;
    position: relative;
}

.Auction img{
    border-radius: 10px;
}

.Auction tr.item {
    height: 145px; 
    position: absolute;
    max-width : 100%;
    width :100%;
}

.Auction .info{
    text-align: center;
    border : 2px solid blue;
    width : 100%
}

.Auction .price{
    border : 2px solid blue;
    display: inline-flex;
}
