.mypage .logout {
    font-size : 45%;
    cursor: pointer;
}

.mypage .btns{
    text-align: end;
    
}
.mypage .btns *{
    margin-left:4px;
}


.mySuccessTable {
    border : 2px solid red;
    width : 100%;
    border-collapse: separate;
    border-spacing: 10px;
    overflow : scroll;
}

.mySuccessTable img{
    border-radius: 10px;
}

.mySuccessTable .item{
    max-width: 100%;
}
.mySuccessTable .img{
    width: 0
}
.mySuccessTable img{
    width : 25px;
    height : 25px;
}

.mySuccessTable .info{
    text-align: center;
    border : 2px solid blue;
}

.mySuccessTable .price{
    border : 2px solid blue;
}
