.mypage .logout {
    font-size : 45%;
    cursor: pointer;
}

.mypage .btns{
    text-align: end;
    
}
.mypage .btns *{
    margin-left:4px;
}


.mypage .mySuccessTable {
    width : 100%;
    border-collapse: separate;
    border-spacing: 10px;
    overflow : scroll;
    
}

.mySuccessTable {
    width : 100%;
    border-collapse: separate;
    border-spacing: 10px;
    overflow : scroll;
}

.mySuccessTable tbody{
}
.mySuccessTable .item{
    max-width: 100%;
}
.mySuccessTable img{
    border-radius: 10px;
    width: 0;
    width : 96px;
    height : 96px;
}

.mySuccessTable .info{
    text-align: center;
}
